.form{
    background-color: orange;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    display: block;
    margin: 5px auto;
    box-sizing: border-box;
    font-size: 14px;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: white;
    color: black;
}